<div flex layout="column" layout-align="start center">
  <md-card layout="column" class="small-panel-card root-panel-card">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1>Sign Up for RStatus</h1>
        <span flex></span>
        <md-button ui-sref="sign-in">Sign In</md-button>
      </div>
    </md-toolbar>

    <md-content flex layout-fill layout="column" layout-align="center center">
      <form flex layout-fill name="signUp" ng-submit="vm.submitSignUp()" novalidate layout-padding>
        <md-input-container>
          <label for="email">Email</label>
          <input
            name="email"
            type="text"
            ng-model="vm.user.email"
            ng-model-options="{ allowInvalid: true, updateOn: 'default blur', debounce: { default: 300, blur: 0 } }"
            resource-validator="vm.user"
            autocomplete="off">
          <div resource-errors="signUp.email"></div>
        </md-input-container>
        <md-input-container>
          <label for="password">Password</label>
          <input
            name="password"
            type="password"
            ng-model="vm.user.password"
            ng-model-options="{ allowInvalid: true, updateOn: 'default blur', debounce: { default: 300, blur: 0 } }"
            resource-validator="vm.user"
            required>
          <div resource-errors="signUp.password"></div>
        </md-input-container>
        <md-input-container>
          <label for="passwordConfirmation">Confirm Password</label>
          <input
            name="passwordConfirmation"
            type="password"
            ng-model="vm.signUp.passwordConfirmation"
            match="vm.user.password"
            required>
          <div ng-if="signUp.passwordConfirmation.$dirty" ng-messages="signUp.passwordConfirmation.$error">
            <div ng-message="required">You must confirm your password</div>
            <div ng-message="match">Passwords don't match</div>
          </div>
        </md-input-container>
        <md-input-container>
          <md-button class="md-raised md-primary" ng-disabled="signUp.$invalid || signUp.$pending">Sign Up</md-button>
        </md-input-container>
      </form>
    </md-content>
  </md-card>
</div>
